* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue LT GEO 55 Roman ' !important;
}

.navbar {
  background-color: #0f1d22;
}

.nav-link {
  margin-left: 25px;
  color: white !important;
}

.reg_btn {
  color: white;
  border: 1px solid white;
  border-radius: 25px;
}

section {
  width: 100%;
  height: 90vh;
}

section h1 {
  text-align: center;
  font-size: 150px;
  padding-top: 300px;
}

.icon img {
  border-radius: 50%;
}

.icon img:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ang_icon {
  height: 100px;
  position: absolute;
  left: 59%;
  top: 50%;
}

.ang_icon:hover {
  -webkit-box-shadow: 0px 0px 22px 0px red;
          box-shadow: 0px 0px 22px 0px red;
}

.html_icon {
  height: 100px;
  position: absolute;
  left: 57%;
  top: 34%;
}

.html_icon:hover {
  -webkit-box-shadow: 0px 0px 22px 0px #DB4A25;
          box-shadow: 0px 0px 22px 0px #DB4A25;
}

.css_icon {
  height: 100px;
  position: absolute;
  left: 60%;
  top: 18%;
}

.css_icon:hover {
  -webkit-box-shadow: 0px 0px 22px 0px #1471B6;
          box-shadow: 0px 0px 22px 0px #1471B6;
}

.js_icon {
  height: 100px;
  position: absolute;
  left: 70%;
  top: 15%;
}

.js_icon:hover {
  -webkit-box-shadow: 0px 0px 22px 0px #C5A92C;
          box-shadow: 0px 0px 22px 0px #C5A92C;
}

.python_icon {
  height: 100px;
  position: absolute;
  left: 80%;
  top: 20%;
}

.python_icon:hover {
  -webkit-box-shadow: 0px 0px 22px 0px #34576B;
          box-shadow: 0px 0px 22px 0px #34576B;
}

.node_icon {
  height: 100px;
  position: absolute;
  left: 83%;
  top: 35%;
}

.node_icon:hover {
  -webkit-box-shadow: 0px 0px 22px 0px #8BC64B;
          box-shadow: 0px 0px 22px 0px #8BC64B;
}

.c_icon {
  height: 100px;
  position: absolute;
  left: 80%;
  top: 50%;
}

.c_icon:hover {
  -webkit-box-shadow: 0px 0px 22px 0px #9C5196;
          box-shadow: 0px 0px 22px 0px #9C5196;
}

.b_icon {
  height: 100px;
  position: absolute;
  left: 70%;
  top: 55%;
}

.b_icon:hover {
  -webkit-box-shadow: 0px 0px 22px 0px #9C5196;
          box-shadow: 0px 0px 22px 0px #9C5196;
}

.intro {
  margin-top: 50px;
  padding: 35px;
  background-color: #a2a9ac34;
}

.intro span {
  font-size: 22px;
  margin-top: 85px;
}

.intro .hacker_title {
  opacity: 56%;
}

.intro-box {
  margin-left: 40px;
}

.title-box {
  margin-top: 20px;
}

.card-title, .direction {
  font-family: 'Outfit', sans-serif;
}

.direction {
  font-size: 14px;
}

.course-box {
  margin-top: 50px;
}

.card1, .card4 {
  height: 310px;
  width: 215px;
}

.card1 {
  background-color: #e34c26;
}

.course_card {
  border-radius: 20px;
  border: none;
}

.card-body {
  color: white;
}

.card-text {
  display: contents;
}

.radius, .radius2, .radius3, .radius4, .radius5, .radius6 {
  border-radius: 50%;
  background-color: white;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 250px;
}

.radius {
  left: 129px;
  z-index: 9999;
}

.radius2, .radius6 {
  left: 160px;
}

.course_css {
  position: absolute;
  top: 258px;
  left: 123px;
  z-index: 9999;
  width: 55px;
}

.course_html {
  position: absolute;
  width: 52px;
  top: 255px;
  left: 157px;
}

.card2 {
  background-color: #662078;
  width: 214px;
  height: 221px;
}

.radius3 {
  top: 160px;
  left: 129px;
  z-index: 9999;
}

.radius4 {
  top: 160px;
  left: 159px;
}

.course_c {
  position: absolute;
  width: 52px;
  top: 157px;
  left: 157px;
}

.course_asp {
  position: absolute;
  width: 52px;
  top: 157px;
  left: 125px;
  z-index: 9999;
}

.card3 {
  background-color: #3E863D;
  width: 214px;
  height: 268px;
}

.course_node {
  position: absolute;
  width: 95px;
  top: 209px;
  left: 135.5px;
}

.radius5 {
  top: 205px;
  left: 159px;
}

.card4 {
  background-color: #EA7C26;
}

.course_swift {
  position: absolute;
  top: 253px;
  left: 163px;
  width: 35px;
}

.sec_row {
  margin-top: 10px;
}

.sec_row, .eighth_card {
  width: 214px;
  height: 221px;
}

.sixth_card {
  position: absolute;
  left: 32.8%;
  top: 59%;
  height: 310px;
  width: 215px;
}

.seventh_card {
  position: absolute;
  left: 50%;
  top: 64%;
  width: 214px;
  height: 268px;
}

.eighth_card {
  position: absolute;
  left: 67.2%;
  top: 68%;
}

.card-column a {
  text-decoration: none;
}

.long_card {
  height: 310px;
  width: 215px;
}

.short_card {
  width: 214px;
  height: 221px;
  margin-left: 115px;
}

.middle_card {
  width: 214px;
  height: 268px;
  margin-left: 116px;
}

.long_card2 {
  height: 310px;
  width: 215px;
  margin-left: 115px;
}

.lecturers-box {
  margin-top: 40px;
}

.lecture_card {
  border-radius: 20px;
}

.lecture_card img {
  padding: 10px;
  border-radius: 30px;
}

.card-1 {
  border: 3px solid #662078;
}

.card-2 {
  border: 3px solid #DCBD39;
}

.card-3 {
  border: 3px solid #306FBD;
}

.card-4 {
  border: 3px solid #8EC850;
}

.card-title {
  color: black;
  text-align: center;
}

.about_txt p {
  margin-top: 30px;
  margin-left: 150px;
  font-size: 20px;
  opacity: 0.9;
}

.div_line {
  margin-top: 50px;
  margin-bottom: 30px;
}

.msg {
  border-bottom: 2px solid black;
  font-size: 20px;
}

.input-group i {
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 9999;
}

.input-group ::-webkit-input-placeholder {
  padding-bottom: 50px;
  padding-left: 10px;
}

.input-group :-ms-input-placeholder {
  padding-bottom: 50px;
  padding-left: 10px;
}

.input-group ::-ms-input-placeholder {
  padding-bottom: 50px;
  padding-left: 10px;
}

.input-group ::placeholder {
  padding-bottom: 50px;
  padding-left: 10px;
}

.input-group textarea {
  height: 120px;
}

.input-group input, .input-group textarea {
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
}

.input-group input:focus, .input-group textarea:focus {
  border-color: #0F1D22 !important;
  -webkit-box-shadow: 0px 0px 15px 0px #0F1D22 !important;
          box-shadow: 0px 0px 15px 0px #0F1D22 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-group input:focus::-webkit-input-placeholder, .input-group textarea:focus::-webkit-input-placeholder {
  color: #0F1D22 !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.join a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0F1d22;
  margin-top: 10px;
}

.join i {
  margin-right: 5px;
}

.join p {
  font-size: 18px;
  margin-top: 30px;
}

.blog_box {
  margin-top: 30px;
}

.blog_card {
  border: 1px solid rgba(0, 0, 0, 0.527);
}

.blog_card img {
  height: 400px !important;
}

.blog_title {
  color: black;
}
/*# sourceMappingURL=style.css.map */